/* =============================================================   

   Book:         New Perspectives on HTML and CSS
   Project:      Tutorial 5 : Case Problem 3
``````````````````````````````````````````````````````````````````
   Page:         Dome Table Style Sheet
``````````````````````````````````````````````````````````````````
   Author:       Roger Corley
   Date:         May 21, 2015
``````````````````````````````````````````````````````````````````
   Filename:
	  dtable.css
	  
   Supporting files:
	  bottom.jpg, bottomleft.jpg, bottomright.jpg, left.jpg,right.jpg, tableback.jpg,
	  top.jpg, topleft.jpg, topright.jpg

================================================================== */

table {
	font-size: 16px;

	margin: 0 0 20px 20px;

	float: right;

	border-collapse: collapse;

	background: url('tableback.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: right bottom;

}

table tbody tr td {
	padding: 0 5px;
}

table caption {
	/* 16 * 0.0625 = 1px */
	letter-spacing: 0.3125em;

	font-size: 18px;
	text-align: center;

	margin-bottom: 10px;
}

table thead {
	border-bottom: 2px solid #808080;
	background: url('top.jpg');
	background-repeat: repeat-x;
}

table thead tr {
	height: 40px;
}

table thead tr th {
	padding: 0 5px;

	/* 16 * 0.0625 = 1px */
	letter-spacing: 0.125em;
}

table thead tr th:first-of-type {
	background: url('topleft.jpg');
	background-repeat: no-repeat;
	background-position: left top;
}

table thead tr th:last-of-type {
	background: url('topright.jpg');
	background-repeat: no-repeat;
	background-position: right top;
}

table tfoot {
	border-top: 2px solid #808080;
	text-align: center;
	background: url('bottom.jpg');
	background-position: bottom;
	background-repeat: repeat-x;
}

table tfoot tr {
	height: 40px;
}

table tfoot tr th:first-of-type {
	background: url('bottomleft.jpg');
	background-repeat: no-repeat;
	background-position: left bottom;
}

table tfoot tr th:last-of-type {
	background: url('bottomright.jpg');
	background-repeat: no-repeat;
	background-position: right bottom;
}

table tbody tr {
	height: 50px;
	border-bottom: 1px dotted #808080;
}

table tbody tr td:first-of-type {
	background: url('left.jpg');
	background-position: left top;
	background-repeat: repeat-y;
}

table tbody tr td:last-of-type {
	background: url('right.jpg');
	background-position: right top;
	background-repeat: repeat-y;

	text-align: right;
}

table tbody tr:nth-child(even) {
	background-color: rgba(152,228,215,.60);
}

table tbody tr:nth-child(odd) {
	background-color: rgba(255,255,255,.60);
}

.firstColumn col  {
	width: 22%;
}

.middleColumns col {
	width: 28%;
}

.lastColumn col {
	width: 22%;
}