/* main menu
----------------------------*/
nav
{
    display:block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align:center; /*Specify the alignment of the whole UL if UL is not width:100%;*/
    letter-spacing:normal;
}

nav ul
{ 
    margin:0 auto; 
    padding:0;
    text-align:center; /* Alignment of each top-level menu items within the UL */
    width:100%;
    display:inline-block;
    list-style:none;
    position:relative;
    z-index:999999990; 
    max-width:1400px;
}

nav li
{
    margin:0;
    padding:0;
    display:inline-block;
    position:relative;
    line-height:46px; /*This determines the height of the menu*/
    outline:none;
}

nav li.full-width {
    position: static;
}

nav li.over
{
    color:#FFF;
    background-image: url('mochaGrunge_@2X.png');
    background-repeat: repeat;
}

nav li.over.no-sub {
    
}

nav .top-heading
{
    white-space:nowrap;
    margin:0 16px;
    color:inherit;
    text-decoration:none;
    display:inline-block; 
    outline:0;
    cursor:pointer;
}

/* links of top-heading */
nav li a, nav li a:link, nav li a:hover
{
    color:inherit;
}
nav li a:hover
{
    text-decoration:underline;
}

nav li a:focus
{
    outline:1px dotted #09F;
}
    
/* caret(arrow icon) */
nav i.caret
{  
    color:inherit;
    left:-12px;
    width: 0;
    height: 0;
    vertical-align:middle;
    margin-bottom:2px;
    border-top: 4px solid;/*caret size is 4px now*/
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    display: inline-block;
    position:relative;
}  
        
/* sub-menu layout
----------------------------*/

nav .dropdown
{
    width:auto;    
    left:0px;    
    color:#000;   
    padding:0;margin:0;display:none;position:absolute;
    top:100%;
    border:1px solid rgba(255,255,255,0.35);
	border-top:none;
	border-radius:2px;
	background-color:rgba(0,0,0,0.1);
	background-color:#ccc \9;/*fallback for old IE*/
}

nav li.full-width .dropdown {
    width:100%;
    padding:0;
    margin:0;
    margin-left:-1px; /*Set to 0 if UL has no border*/
}

nav .offset300 {
    left:-300px;right:auto;
}

nav .right-aligned {
    left:auto;
    right:0px;
}

nav li.over .dropdown
{
    display:block;
}

nav .dd-inner {
    text-align:center;
    padding:20px;
    margin:16px;
    background-color:#FFF;
    white-space:nowrap;
    font-size:13px;
    line-height:1.35;
}
  
/* links in sub menu
----------------------------*/

nav .dropdown a
{ 
    display:table-row;
    *display:block;
    color:#000;
    line-height:22px;
    text-decoration:none;
    padding:0;
}

nav .dropdown a:hover, nav .dropdown a:focus
{
    text-decoration:underline;
    color:#09F;
}

/* blocks within the sub-menu
-----------------------------*/
nav div.column
{
    text-align:left;
    vertical-align:top;/*or middle*/
    display:inline-block;
    *display:inline;*zoom:1;
    white-space:normal;
    width:auto;min-width:170px;
	padding:0 30px;
	border-right:1px solid #999;
}

nav div.dd-inner div:last-child
{
    border-right:none;
}

nav div.column h3 {
  font-weight: 500;
  line-height: 1.1;
  margin-top: 12px;
  margin-bottom: 8px;
  font-size: 24px;
}

nav div.column h3 {text-transform:uppercase;}

navLink {display:none;}

nav div.menu-icon   
{
    display:none; /* hide menu icon initially */
}