
/* =============================================================   

	 Book:         New Perspectives on HTML and CSS
	 Project:      Tutorial 4 : Case Problem 4
``````````````````````````````````````````````````````````````````
	 File:           Park City Gazette Style Sheet
``````````````````````````````````````````````````````````````````
	 Author:       Roger Corley
	 Date:         May 21, 2015
``````````````````````````````````````````````````````````````````
	 Filename:
			paper.css
			
	 Supporting files:
			

==================================================================  */

html {
	font-size:  16px;
	font-family: "Segoe UI", Arial, sans-serif;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

body {

}

#wrapper {
	width: 100%;
	height: auto;

}

h1, h2, h3, h4, h5 {
    line-height: 1
}

h1 {
	font-size: 2.769em;
	font-weight: 400;
}

h2 {
	font-size: 1.769em;
	font-weight: 400;
}


header {}


#nav-wrapper {
	width: 100%;
	background-color: #000;
	text-align: left;
	font-size: .75 em;
	background: #000; 
	padding: 0;
	margin: 0;
}

#logo {
	color: #FFF;
}

#navbar {
	color: #FFF;
}

#navbar ul {

	list-style: none;
	position: relative;
	display: inline-table;
	float: right;
}

#navbar ul:after {
	content: ""; clear: both; display: block;
}

#navbar ul li {
	float: left;
}

#navbar ul li:hover > ul {
	display: block;
}

#navbar ul li:hover {
	background: #4b545f;
}

#navbar ul li:hover a {
	color: #fff;
}
  
#navbar ul li a {
	display: block; padding: 10px 40px;
	color: #FFF; text-decoration: none;
}

#navbar ul ul {
	display: none;
	background: #5f6975; border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
}

#navbar ul ul li {
	float: none; 
	border-top: 1px solid #6b727c;
	border-bottom: 1px solid #575f6a;
	position: relative;
}

#navbar ul ul li a {
	padding: 15px 40px;
	color: #fff;
} 

#navbar ul ul li a:hover {
	background: #4b545f;
}

div #hero {
/*	height="140" width="600"   */

	background-image: url("img_WebSite_Hero.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow-y: hidden ! important;
	overflow-x: hidden ! important;
	height: 240px;
	clear: both;
}

div #hero h1 {
	font-size: 4em;
	font-weight: 600;
	color: #fff;
	text-align: right;
}


section {
	margin-top: 10px;
	padding: 10px;
}

article {
	padding: 0;
	margin: 0;
}

article h1 {
	padding: 0;
	margin: 0;
}

aside {

}