*:focus { outline: none; }

.p-required { 
	text-transform: lowercase;
	font-weight: 600;
	font-size: .85em;
	padding-left: 10px;
	color: #EE7600;
}

.p-required.p-label {
	text-transform: none;
	font-weight: 400;
	font-size: 1em;
	margin-left: -20px;
}

.p-content {  } 

#orderForm {  }

#orderForm ul { 
	width:750px;
	list-style-type:none;
	list-style-position:outside;
	margin:0px;
	padding:0px;
}

.p-form-input li { 
	background-color: #F9F9F9;
	padding:12px; 
	border-bottom:1px solid #EEE;
	position: relative;
	text-decoration: none;
}

.p-form-input label {

}

.p-form-input input {
	left: 100px;
	position: absolute;
	border:1px solid #aaa;
	border-radius:2px;
}

.p-form-input input:focus {
	background: #fff; 
	border:1px solid #EE7600; 
	box-shadow: 0 0 3px #F39F4C;
}

.p-form H2 {   font-size: 48px; font-weight: 200; margin-bottom: 25px; }

.p-form-span {  }

.p-form-label { font-weight: 200; }

.p-form-field { }

#orderForm ul div li:first-child {
	border-top:1px solid #777;
	padding-top: 30px;
}

#orderForm ul div li:last-child {
	border-bottom:1px solid #777;
	padding-bottom: 30px;
}

.p-btn-a {
	text-decoration: none;
	color: #FFF;
}

.p-button-wrapper {
	padding-top: 15px;
}
.p-button {
	display: inline-block;
	position: relative;
	width: 120px;
	height: 32px;
	line-height: 32px;
	border-radius: 2px;
	font-size: 0.9em;
	background-color: #FFF;
	color: #646464;
}

.p-button > paper-ripple {
	border-radius: 2px;
	overflow: hidden;
}

.p-button.blue {
	background-color: #4285f4;
	color: #FFF;
}

.p-button.green {
	background-color: #0F9D58;
	color: #FFF;
}

.p-button.red {
	background-color: #DB4437;
	color: #FFF
}

.p-button.raised {
	transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.p-button.raised:active {
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
	transition-delay: 0s;
}

.label { padding: 0 16px; color: #EE7600; }
