 body {
	webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
 }

section {
	padding: 30px 25px;
}

section > * {
	margin: 10px;
}

.button {
	display: inline-block;
	position: relative;
	width: 120px;
	height: 32px;
	line-height: 32px;
	border-radius: 2px;
	font-size: 0.9em;
	background-color: #FFF;
	color: #646464;
}

.button > paper-ripple {
	border-radius: 2px;
	overflow: hidden;
}

.button.green {
	background-color: #0F9D58;
	color: #FFF;
}

.button.raised {
	transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.button.raised:active {
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
	transition-delay: 0s;
}

.center { text-align: center; }

.label { padding: 0 16px; }



